{% extends "base.html" %} {% block page_name %} Home {% endblock page_name %} 
{%block content %} 
{% for room in rooms %}
<a href="{% url "rooms:detail" room.pk %}">
  <h1>{{room.name}} / ${{room.price}}</h1>
</a>
{% endfor %}
<h5>
  {% if rooms.has_previous %}
  <a href="?page={{rooms.previous_page_number}}">previous</a>
  {% endif %} 
  Page {{rooms.number}} of {{rooms.paginator.num_pages}} 
  {% if rooms.has_next %}
  <a href="?page={{rooms.next_page_number}}">next</a>
  {% endif %}
</h5>

{% endblock content %}
